<!-- new yale stuff here -->
<% if full %>
  <% if result['libcal_id'] && AppConfig.has_key?(:libcal_service_id) %>
    <h3>Opening Hours</h3>
    <script src="//api3.libcal.com/js/hours_grid.js?002"></script>
    <div id="libcal-open-hours"></div>
    <script>
      <!--//--><![CDATA[// ><!--
      $(function(){
        new $.LibCalWeeklyGrid( $("#libcal-open-hours"), {
          iid: <%= AppConfig[:libcal_service_id] %>,
          lid: <%= result['libcal_id'] %>,
          weeks: <%= AppConfig.has_key?(:libcal_weeks_to_display) ? AppConfig[:libcal_weeks_to_display] : 18 %>
        });
      });

      //--><!]]>
    </script>
  <% end %>

  <% if result['latitude'] && result['longitude'] && AppConfig.has_key?(:google_maps_api_key) %>
    <h3>Find Us</h3>
    <div class="google-maps">
      <iframe width="600"
              height="450"
              frameborder="0"
              style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=<%= result['latitude'] %>,<%= result['longitude'] %>&key=<%= AppConfig[:google_maps_api_key] %>"
              allowfullscreen>
      </iframe>
    </div>
  <% end %>
<% end %>